body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #A2A2A2;
}

header {
    width: 100%;
    height: 240px;
    background-image: url(images/img6.png);
    background-position: 50% 50%;
    background-size: 90em;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.title-bar {
    margin-top: 2.5em;
    margin-right: 8em;
}

.search-form {
    display: flex;
    margin-top: 0;
    width: 40%;

}

#input {
    width: 100%;
    padding: 1em 0 1em 2.7em;
    outline: none;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    background-color: black;
    border: none
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: white;
    background-color: black;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: 0.1px dotted white;
}

.button:hover {
    cursor: pointer;
    color: rgba(238, 59, 59, 0.848);
}

.span1 {
    font-size: 6rem;
}


.span2:hover {
    cursor: pointer;
    color: black;

}

.span1,
.span2 {
    padding: 0.2em;
    border-radius: 5px;
}

.main {
    margin: 5em 15em
}

section {
    display: flex;
    gap: 2em;
    margin-bottom: 2em
}

.icon {
    position: relative;
    left: 28px;
    top: 8px;
}

.sec1 img {
    width: 148.5px;
    height: 221.116px;
}

.sec2 {
    margin-top: -10px
}

.sec2 p {
    max-width: 650px;
    font-size: 1.1rem;
}

.add-to-list {
    max-width: 25%;
    min-width: 25%;
    background-color: #989595;
    color: black;
    padding: 0.6em;
    margin-top: 1.2em;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
}

.add-to-list:hover {
    cursor: pointer;
    background-color: rgb(195, 65, 65);
    font-weight: 700;
}

/* Styles for loading overlay */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.135);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loading-spinner {
    border: 4px dotted rgb(255, 255, 255);
    border-top: 4px dotted black;
    /* Change color as needed */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.black {
    color: yellow
}